build/*
code/BUILD/*
map_wolfric.htm
code/floppy_description.h
.vscode/settings.json
*.pyc
assets/TransparentIcons_tiles/*
assets/IUqsoh_tiles/*
assets/+P6O7U_tiles/*
assets/b0ZeE3_tiles/*
assets/bank4g_tiles/*
assets/E9LzHe_tiles/*
assets/ProjectUtumno_full_tiles/*



assets/UkM03M_tiles/*
assets/wKxWVm_tiles/*
assets/bull_tiles/*
assets/cat_tiles/*
assets/creatures_tiles/*

assets/dog_tiles/*
assets/Fighter-F-01_tiles/*
assets/horse-brown_tiles/*
assets/lpc_minotaur_tiles/*
assets/Princess-01_tiles/*
assets/Textures-16_tiles/*
assets/0xWR6B_tiles/*
assets/SeamlessTextures1616_tiles/*
assets/fire/*
assets/E9LzHe/*
assets/bank4g/*
assets/0xWR6B/*
assets/dog/*
